apiVersion: v1
kind: Secret
metadata:
  name: frontend-secrets
  namespace: skitt-prod
type: Opaque
stringData:
  # Backend API URL (used at build time for Next.js)
  NEXT_PUBLIC_API_URL: "http://skitt-backend-service.skitt-prod.svc.cluster.local:3001"
