apiVersion: v1
kind: Service
metadata:
  name: skitt-frontend-service
  namespace: skitt-prod
  labels:
    app: skitt-frontend
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    app: skitt-frontend
